<div class="all-products">
    <div *ngFor="let eachProduct of products">
        <a [routerLink]="['/product',eachProduct.id]"  class="productCard">
            <img src="{{eachProduct.image}}" alt="product" class="productImage">
            <div class="priceBox">
                <p class="title">{{eachProduct.title.slice(0,35)}}</p>
                <span class="price">Rs-{{eachProduct.price*25}}/-</span>
            </div>
            <button class="buyNow">Buy Now</button>
        </a>
    </div>
</div>

