.productImage{
    height: 200px;
    width: 200px;
}
.productCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    border-radius: 8px;
    border-width: 1px;
    border-style: solid;
    margin-bottom: 15px;
    padding: 10px;
    border-color: rgb(198, 196, 196);
    margin-right: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}


.priceBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
}
.rating-element{
    // align-content: space-between;
    // display: flex;
    // justify-content: space-between;
    margin-top: 5px;
}
.rating-value{
    font-family: sans-serif;
    font-size: 16px;
    color: black;
    font-weight: 700;
}
.description{
    font-family: sans-serif;
    font-size: 12px;
    color: rgb(76, 76, 77);
    font-weight: 600;
}
.title{
    font-family: sans-serif;
    font-size: 13px;
    color: rgb(30, 71, 134);
    font-weight: 700;
    margin-bottom: 6px;
}
.buyNow{
    background-color: rgb(206, 48, 174);
    font-family: sans-serif;
    font-size: 14px;
    color: rgb(255, 255, 255);
    font-weight: 600;
    border-radius: 5px;
    padding: 5px;
    border-width: 0px;
    cursor: pointer;
}
.price{
    font-family: sans-serif;
    font-size: 15px;
    color: rgb(30, 71, 134);
    font-weight: 700;
}
.hrLine{
    border-width: 1px;
    background-color: rgb(4, 136, 219);
   
}
.all-products{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px;
}


@media screen and (max-width:576px){
    .productCard{
        margin-right: 0px;
    }
}