.about-element{
    height: 250px;
    width: 250px;
    margin-bottom: 10px;
}
.about{
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.primary{
    font-size: 30px;
    font-weight: 700;
    font-family: serif;
    color: #551e53;
}
.secondary{
    font-size: 22px;
    font-weight: 700;
    font-family: serif;
    color: #4b4b4b;
}