<nav class="navBar">
    <div class="navBar-logo">
      <img src="https://assets.ccbp.in/frontend/react-js/wave-logo-img.png" class="navBar-logo-element"/>
      <span class="navBar-logo-text">Wave</span>
    </div>
    <ul class="listItems">
      <li><a class="eachItem" routerLink="blogs" routerLinkActive="activeColors">Home</a></li>
      <li><a class="eachItem" routerLink="about" routerLinkActive="activeColors">About</a></li>
      <li><a class="eachItem" routerLink="contact" routerLinkActive="activeColors">Contact</a></li>
    </ul>
  </nav>
<div class="eachRoutingElements">
	<router-outlet></router-outlet>
</div>

