/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    box-sizing: border-box;
}
ul{
   list-style-type: none;
    padding-left: 0px;
}
a{
    text-decoration: none;
}
